# =========================
# ASP.NET / C#
# =========================

bin/
obj/

.vs/

*.user
*.suo

# Rider
.idea/

# Logs
*.log

# Environment
.env

# =========================
# React / Node
# =========================

node_modules/

dist/

# =========================
# OS
# =========================
readme-developer.md

.DS_Store
Thumbs.db
.fake